%h2.title 配送先

%table.table.table-striped.table-bordered.table--total
  %tbody
    %tr
      %th 氏名
      %td= shipping_address.name
    %tr
      %th 郵便番号
      %td= shipping_address.post
    %tr
      %th 住所
      %td= shipping_address.address
