%h1 管理画面
%ul
  %li= link_to '商品管理', admin_products_path
  %li= link_to '税率管理', admin_taxes_path
  %li= link_to '送料管理', admin_delivery_fees_path
  %li= link_to '代引き手数料管理', admin_cash_on_deliveries_path
