%ul.controls
  %li= link_to '編集', edit_admin_product_path(@presenter.product), {class: 'btn btn-primary'}
  %li= link_to '一覧に戻る', admin_products_path, {class: 'btn btn-secondary'}
=render 'show', product: @presenter.product
