%p #{@resource.email} 様
%p パスワードを変更するためのリンクを要求しました。以下のリンクからパスワードを変更することができます。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p パスワードの変更を依頼していない場合は、このメールを無視してください。
%p 上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。
%p さくらマーケット
