%ul.controls
  %li= link_to '編集', edit_admin_user_path(@presenter.user), {class: 'btn btn-primary'}
  %li= link_to '一覧に戻る', admin_users_path, {class: 'btn btn-secondary'}
=render 'show', user: @presenter.user
